body
{
    overflow: hidden;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

.view
{
	position: absolute;
	display: block;
    -webkit-transform-style: preserve-3d;
}

.viewflat
{
	position: absolute;
	display: block;
    -webkit-transform-style: preserve-3d;
}

.fader
{
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 550ms;
	-webkit-transition-timing-function: ease-in-out;
}

.page
{
    -webkit-perspective: 600;
	width: 100%;
    height: 100%;
	margin: 0 auto;
	text-align: center;
}

div.origin
{
	left: 50%;
	top: 50%;
}

div#camera
{
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.6, 0.9);
	-webkit-transform: translate3d(0, 0, 0);
}

div#dolly
{
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 550ms;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform: translate3d(0, 0, 0);
}

div.cell.reflection img
{
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, transparent), color-stop(1.0, rgba(255, 255, 255, 0.5)));
}

div.cell
{
	-webkit-transition-property: -webkit-transform opacity;
	-webkit-transition-duration: 550ms;
	-webkit-transform: translate3d(0, 0, 0);
}

div.cell img
{
	display: block;
	position: absolute;

	-webkit-transition-property: -webkit-transform /* PERF -webkit-box-shadow */ /* border-color */;
	-webkit-transition-duration: 550ms;
	-webkit-transform: translate3d(0, 0, 0);
}

div.cell video
{
	display: block;
	position: absolute;

	-webkit-transition-property: -webkit-transform /* PERF -webkit-box-shadow */ /* border-color */;
	-webkit-transition-duration: 550ms;
	-webkit-transform: translate3d(0, 0, 0);
}

div.original
{
	border: 1px solid transparent;
}

div.original.selected
{
/* PERF
	-webkit-box-shadow: 0px 0px 35px #000;
*/
	border-color: #000;
}

.mover
{
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 550ms;
}

div.original.selected .mover
{
	-webkit-transform: translate3d(0, 0, 40px);
}

div.original.selected.magnify .mover
{
	-webkit-transform: translate3d(0, 0, 100px);
}

div.original.selected.magnify img
{
	-webkit-transform: scale(2.0);
}

div.reflection.selected .mover
{
	-webkit-transform: translate3d(0, 0, 39px);
}

/* -------------- ADDED FOR MEDIA WALL ------------- */
#searchbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #444444;
	border-bottom: 1px solid #222222;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	opacity: 0.7;
	z-index: 10;
}

#searchbar  ul {
	list-style: none;
	margin: 0 auto;
	float: left;
	padding: 0;
	width: 50%;
}

#searchbar ul li a {
	float: left;
	padding: 2px 15px;
	color: #ffffff;
	text-decoration: none;
}

#searchbar .search{
	float: right;
}

#searchbar .searchsubmit{
	border-radius: 10px;
	background-color: #888888;
	padding: 2px 5px;
	color: #ffffff;
	text-decoration: none;
}

#comments {
	position: absolute;
	top: 50px;
	display: none;
}

.comment {
	opacity: 0.9;
	border-radius: 10px;
	background-color: #ffd;
	color: #000;
	padding: 5px 10px;
	bottom: 10px;
}

#hidden { 
	display: none;
}

#comments .date {
	font-size: 10px;
}
#comments .text {
}

.popular {
	opacity: 0.9;
	border-radius: 10px;
	background-color: #faf;
	color: #000;
	padding: 5px 10px;
	bottom: 10px;
}

#vote {
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	padding: 2px 5px;
	text-decoration: none;
}


